.answers_gameStage{
    position: absolute;
    height: 50vh;
    width: 200px;
    top: 15%;
    right: 10px;
    border-radius: 10px;
    background-color: rgb(111, 201, 255);
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
}

.answers_resultStage{
    position: absolute;
    height: 50vh;
    width: 200px;
    top: 15%;
    right: 10px;
    border-radius: 10px;
    background-color: rgb(23, 93, 136);
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
    transition-property: background-color;
    transition-duration: 5;
}