.game_container{
    position: relative;
    background-color: rgb(145, 88, 88);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .game_container_inner{
        background-color: rgb(196, 177, 94);
        display: grid;
        grid-template-columns: 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px; 
        column-gap: 10px;
        row-gap: 15px;
        .game_chars{
            text-transform: uppercase;
            /* margin: auto; */
            font-size: 24px;
            background-color: rgb(131, 129, 129);
        }
    }
    .game_correct_answers{
        position: absolute;
        height: 50vh;
        width: 200px;
        top: 10%;
        right: 0;
        background-color: brown;
    }
    .game_input_answer{
        margin: 50px;
    }
}